<div>
    <h3>Add New Patient(Cause I Don't Watch Enough TV)</h3>
    <form id='new-patient' ng-submit="patientNewVm.addPatient()">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" ng-model="patientNewVm.newPatient.title">
        </div>
        <div>
            <label for="length">Length:</label>
            <input type="number" name="length" ng-model="patientNewVm.newPatient.length">
        </div>
        <div>
            <label for="source">Source:</label>
            <input type="text" name="source" ng-model="patientNewVm.newPatient.source">
        </div>
        <input type="submit" value="Add">
    </form>
</div>
