 Patient Page
<p>{{patientPatientVm.patient.first_name}}</p>
<p>{{patientPatientVm.patient.last_name}}</p>
<p>{{patientPatientVm.patient.dob}}</p>
<p>{{patientPatientVm.patient.gender}}</p>
<li ng-repeat='den in patientPatientVm.patient.dental_history'>
  {{den.vistType}} {{den.date}}
</li>
<p>{{patientPatientVm.patient.physical}}</p>
<p>{{patientPatientVm.patient.bloodtype}}</p>
<p>{{patientPatientVm.patient.checkups.last}}</p> <p>last check</p>
<li ng-repeat='par in patientPatientVm.patient.checkups.previous'>
{{par.name}} {{par.result}} {{par.date_of_physical}}</li>
<p>{{patientPatientVm.patient.insurance_info.insurer}}</p>
<p>{{patientPatientVm.patient.insurance_info.policyId}}</p>
<p>{{patientPatientVm.patient.phone_number}}</p>
<li ng-repeat='pres in patientPatientVm.patient.prescriptions.drugs'>
{{pres.name}}</li>
<li ng-repeat='presg in patientPatientVm.patient.prescriptions.glasses'>
{{presg.presecription}} {{presg.manufacture}}</li>
<li ng-repeat=' proc in patientPatientVm.patient.procedures'>
  {{proc.nameOfOperation}} {{proc.lengthOfRec}}
</li>
<li ng-repeat='vac in patientPatientVm.patient.vaccinations'>
  {{vac.nameOfVacc}} {{vac.dateOf}}
</li>
<li ng-repeat='test in patientPatientVm.patient.test'>
  {{test.nameOfTest}} {{test.dateOf}} {{test.results}}
</li>
<a ui-sref="patientEdit({id:patientPatientVm.patient._id})">Edit This Patient</a>


<form ng-submit="patientPatientVm.findPill(pill)">
  Enter text and hit enter:
  <input type="text" ng-model="pill" name="text" />
  <input type="submit" id="submit" value="Submit" />
</form>
{{patientPatientVm.showPill}}
