<div>
  <h3>Add New Show(Cause I Don't Watch Enough TV)</h3>
  <form id='new-show' ng-submit="showNewVm.addShow()">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" ng-model="showNewVm.newShow.title">
    </div>
    <div>
      <label for="length">Length:</label>
      <input type="number" name="length" ng-model="showNewVm.newShow.length">
    </div>
    <div>
      <label for="source">Source:</label>
      <input type="text" name="source" ng-model="showNewVm.newShow.source">
    </div>
    <input type="submit" value="Add">
  </form>
</div>
