<div>
  <h3>Edit Show(Cause I Don't Like The One Listed)</h3>
  <form id='edit-show' ng-submit="showEditVm.editShow()">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" ng-model="showEditVm.show.title">
    </div>
    <div>
      <label for="length">Length:</label>
      <input type="number" name="length" ng-model="showEditVm.show.length">
    </div>
    <div>
      <label for="source">Source:</label>
      <input type="text" name="source" ng-model="showEditVm.show.source">
    </div>
    <input type="submit" value="Edit">
  </form>
</div>
